@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Theme
$dark: #0e0e0e;

* {
  transition: 0.3s;
}
body {
  font-family: 'Poppins', sans-serif;
}
.dark-theme {
  background-color: $dark;
  color: white;
}
.light-theme {
  background-color: white;
  color: $dark;
}
section {
  padding: 10vmin 0;
}

// Header and Paragraph

// Button
