.navbar {
  .navbar-brand {
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
  }
  .navbar-nav {
    .nav-link {
      margin: 0 0.5rem;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: white;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s;
      }
    }
    .nav-link:hover::after,
    .active::after {
      transform: scaleX(1);
    }
  }
}
