@import './variable.scss';

.navbar {
	$navColor: black;
	$shadow: rgba(0, 0, 0, 0.2) 4px 3px 4px;
	.navbar-brand {
		font-size: 2rem;
		font-family: $font2;
	}
	.navbar-nav {
		.nav-link {
			margin: 0 0.5rem;
			position: relative;
			font-weight: 500;
			&::after {
				position: absolute;
				content: '';
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				background: $navColor;
				transform: scaleX(0);
				transform-origin: left;
				transition: 0.3s;
			}
		}
		.nav-link:hover::after,
		.active::after {
			transform: scaleX(1);
		}
	}
}

// Footer
footer {
	padding: 10vmin 0;
	.social-link {
		a {
			padding: 0 0.5rem;
		}
	}
	.credit {
		p {
			margin: 1rem 0 0 0;
		}
	}
}
