@font-face {
	font-family: 'Voyage';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url(/font/Voyage.otf);
}
@font-face {
	font-family: 'Voyage';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url(/font/VoyageBold.otf);
}
@font-face {
	font-family: 'LaoMN';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url(/font/LaoMN.ttc);
}

// Color
$white: white;
$light: #ffdfbf;
$dark: #0e0e0e;
$primary: #cc6448;

// font
$font1: 'LaoMN'; // primary font
$font2: 'Caveat', cursive;
$font3: 'Voyage';

.font1 {
	font-family: $font1 !important;
}
.font2 {
	font-family: $font2 !important;
}
.font3 {
	font-family: $font3 !important;
}

.bg-dark {
	background-color: $dark !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-secondary {
	background-color: $light !important;
}
.text-primary {
	color: $primary !important;
}

.text-secondary {
	color: $light !important;
}
