@font-face {
	font-family: 'Voyage';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url(/font/Voyage.otf);
}
@font-face {
	font-family: 'Voyage';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url(/font/VoyageBold.otf);
}
// Color
$light: white;
$dark: #0e0e0e;
$primary: red;
$themeBackgroud: $light;

// font
$font1: 'Poppins', sans-serif;
$font2: 'Caveat', cursive;
$font3: 'Voyage';
