@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import './variable';
@import './nav.scss';
@import './herosec.scss';
* {
	transition: 0.3s;
}
body {
	font-family: $font1;
	background: $dark;
	color: $light;
}
section {
	padding: 15vmin 0;
}
h1 {
	font-family: $font3;
}
p {
	margin-bottom: 0;
}
