@import './variable';
@import './nav.scss';
* {
	transition: 0.3s;
}
body {
	font-family: $font1;
}
section {
	padding: 15vmin 0;
}
p {
	margin-bottom: 0;
}

.font1 {
	font-family: $font1 !important;
}
.font2 {
	font-family: $font2 !important;
}

// hero
